{% extends "base.html" %}

{% block content %}
    <h1>{{ project.name }}</h1>
    <h2>Créer une tâche</h2>

    <form method="post" action="{% url "add_a_task" project.id %}">
        {% csrf_token %}
        {% comment %}
        Assignee is not a field of the task form.
        Therefore, we add manually the assignee field to our HTML form.
        This returns a POST parameter containing the id of the chosen user.
        {% endcomment %}
        <label for="assignee">Responsable de la tâche : </label>
        <select id="assignee" name="assignee">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user }}</option>
            {% empty %}
            {% endfor %}
        </select>
        {{ form.as_p }}
        <input type="submit" value="Créer une tâche"/>
    </form>

    {% if envoi %}<h3>Tâche créée!</h3>{% endif %}

    <h3><a href="{% url "view_tasks" project.id %}">Retour à la liste des tâches</a></h3>

{% endblock %}