{% extends "base.html" %}

{% block content %}
    <h1>{{ project.name }}</h1>
    <h2>{{ task.name }}</h2>
    <p>{{ task.description }}</p>

    <table>
        <tr>
            <td>Personne en charge</td>
            <td>{{ task.assignee }}</td>
        </tr>
        <tr>
            <td>Date de début</td>
            <td>{{ task.start_date }}</td>
        </tr>
        <tr>
            <td>Date de rendu</td>
            <td>{{ task.due_date }}</td>
        </tr>
        <tr>
            <td>Priorité</td>
            <td>{{ task.priority }}</td>
        </tr>
        <tr>
            <td>Statut</td>
            <td>{{ task.status }}</td>
        </tr>
    </table>

    <h3><a href="{% url "modify_a_task" project.id task.id %}">Modifier la tâche</a></h3>

    <h3>Journal</h3>
    <table>
        <tr>
            <th>Entrées</th>
            <th>Auteur</th>
            <th>Date</th>
        </tr>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.entry }}</td>
                <td>{{ entry.author }}</td>
                <td>{{ entry.date }}</td>
            </tr>
        {% empty %}
        {% endfor %}
    </table>

    <h4><a href="{% url "add_an_entry" project.id task.id %}">Ajouter une entrée</a></h4>
{% endblock %}