{% extends "base.html" %}

{% block content %}
    <h1>Tâches de {{ project.name }}</h1>

    <table>
        <tr>
            <th>Nom de la tâche</th>
            <th>Personne en charge</th>
            <th>Statut</th>
            <th>Date de début</th>
            <th>Date de rendu</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <th>{{ task.name }}</th>
                <th>{{ task.assignee }}</th>
                <th>{{ task.status }}</th>
                <th>{{ task.start_date }}</th>
                <th>{{ task.due_date }}</th>
            </tr>
        {% empty %}
        {% endfor %}
    </table>
{% endblock %}