{% extends "base.html" %}

{% block content %}
    <h1>{{ project.name }}</h1>

    <table>
        <tr>
            <th>Nom de la tâche</th>
            <th>Personne en charge</th>
            <th>Statut</th>
            <th>Date de début</th>
            <th>Date de rendu</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td><a href="{% url "view_details" project.id task.id %}">{{ task.name }}</a></td>
                <td>{{ task.assignee }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date }}</td>
            </tr>
        {% empty %}
        {% endfor %}
    </table>
{% endblock %}